[core]
	excludesfile = /Users/IshibaSeiko/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Ishiba Seiko
	email = seiko.ishiba@stv-tech.co.jp
[commit]
	template = /Users/IshibaSeiko/.stCommitMsg
